= stylesheet_link_tag "video_page"
= javascript_include_tag 'upload'
= javascript_include_tag 'upload_progress'
= form_for :user_asset, :url=>'/user_assets/create_single_asset',:html => {:multipart => true, :class => :form_group } do |f|
  .panel.panel-default
    %h2 Upload Single Asset
    .well
      %h3.bold Important Information
      %b
        %ol
          %li 
            %h4.bold Please do not upload the base PDFs. Only upload PDFs which will be used as assets inside the book.
          %li 
            %h4.bold Only mp4 videos, mp3 audios, PDFs, weblinks and html5 assets enclosed in a zip file can be uploaded
          %li
            %h4.bold Please ensure that you optimize all assets before uploading so that the performance on the tab is good.
      %p For any other query please contact support@ignitorlearning.com.

    .row
      .col4
        .form-group
          .input-group
            = f.label "Browse File"
            %br
            = f.file_field :attachment , class: 'form-control', required: "required", id: '_file'
        .form-group
          %label
            Weblink
            %input{:name => "weblink_box", :type => "checkbox",class:"weblink_box"}
            %br
        .form-group
          .input-group
            %label{:for => "sel1"}= f.label "Weblink"
            %br
            = f.text_field :weblink_url, :placeholder => "paste your link here", class:"form-control",id:"link_box", disabled:true
        .form-group  
          .input-group
            %label{:for => "sel1"}= f.label "Name*"
            %br
            = f.text_field :asset_name , :placeholder => "Name of the asset", class: "form-control",required:"required"
        .form-group  
          .input-group
            %label{:for => "sel1"}= f.label "Class*"
            %br
            = collection_select :tag, :class_id, @class_tags, :id, :value, {}, {:class => 'form-control'}
      .col4    
        .form-group
          .input-group
            %label{:for => "sel1"}= f.label "Subject*"
            %br
            = collection_select :tag, :subject_id, @subject_tags, :id, :value, {}, {:class => 'form-control'}
        .form-group  
          .input-group
            %label{:for => "sel1"}= f.label "Concept*"
            %br
            = collection_select :tag, :concept_id, @concept_tags, :id, :value, {}, {:class => 'form-control'}

        %progress#prog{:max => "100", :style => "display:none; width:100%; height:25px;", :value => "0"}
        #percent
        #here
        #launch_file_set
            
  = f.submit 'Upload',disable_with: "Uploading...", class: 'btn btn-info', id: '_submit'

:css
  .bold{
    font-weight: 600 !important;
  }
:javascript
  $(".weblink_box").on('change',function(){
    if ($(".weblink_box").attr('checked')){
    $("#link_box").prop('disabled',false)
    $("#_file").prop('disabled', true)
    $("#_file").removeAttr('required');
  }
  else
  {
  $("#link_box").prop('disabled',true)
    $("#_file").prop('disabled', false)

  }
  })
  $(document).on('click', "#update_launch_file", function () {
                           $('#_file').val(null);
                           $('#user_asset_asset_name').val(' ');
                           $('#tag_class_id').val('');
                           $('#tag_subject_id').val('');
                           $('#tag_concept_id').val('');
                           $("#_submit").attr("disabled", false);
                           $('#percent').append(' <p>Uploaded!!!</p>');
                           $("#over").remove();
                           window.onbeforeunload="";
                           //window.history.pushState({},"new url",data["url"] + "/?notice=" + data["message"]);
                           window.location.reload();
  });

