#content_header
  %h1#main_heading Quotes
#inner-tab-menu
  %ul
    %li=link_to  "#{t("web-app-theme.list", :default => "List")}",quotes_path
    %li.inner_tab_selected= link_to "#{t("web-app-theme.edit", :default => "Edit")}",edit_quote_path
    %li=link_to link_to "#{t("web-app-theme.new", :default => "New")}", new_quote_path
    %li=  link_to "#{t("web-app-theme.show", :default => "Show")}",quote_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          #application-list
            = render "form"
