#content_header
  %h1#main_heading Academic Years
#inner-tab-menu
  %ul
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.list", :default => "List")}",content_years_path
    %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_content_year_path
#data
  %table{width: '100%'}
    %tr
      %td
        = render 'content_years'

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", content_years_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_content_year_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      AcademicYears
    .inner
      %table#mytable.sort_table
        %thead
          %tr
            %th.first ID
            %th
              code
            %th
              = t("activerecord.attributes.content_year.name", :default => t("activerecord.labels.name", :default => "Name"))
            %th.last &nbsp;
        %tbody
          - @content_years.each do |content_year|
            %tr{:class => cycle("odd", "even")}
              %td
                = content_year.id
              %td
                = content_year.code
              %td
                = link_to content_year.name, content_year_path(content_year)
              %td.last
                = link_to "#{t("web-app-theme.show", :default => "Show")}", content_year_path(content_year)
                |
                \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_content_year_path(content_year)} |
                \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", content_year_path(content_year), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = paginate @content_years
- content_for :sidebar, render(:partial => 'shared/sidebar')
