= stylesheet_link_tag 'ibooks'
= javascript_include_tag 'ibooks'
= link_to ' << Back to Books Catalogue', ibooks_path, id:"myBooks"
%h1 Upload a New Book

= render partial:'form',locals:{edit:false}
= button_tag "Start", type:"button", class:"normalButton", id:"uploadNewBookStarter"
:javascript
  activateNewBooksPage();

