#content_header
  %h1#main_heading assessment_olympiads
#inner-tab-menu
  %ul
    %li= link_to "#{t("web-app-theme.list", :default => "List")}", assessment_olympiads_path
    %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_assessment_olympiad_path
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_assessment_olympiad_path
    %li= link_to "#{t("web-app-theme.show", :default => "Show")}", assessment_olympiad_path(@assessment_olympiad)
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          #application-list
            = render "form"

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", assessment_olympiad_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_assessment_olympiad_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_assessment_olympiad_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      assessment_olympiad.rb
    .inner
      = render "form"
-#- content_for :sidebar, render(:partial => 'shared/sidebar')
