<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Dear Parent,<br/>
    <p>Please find attached the Assessment Report for <%=User.find(@question_attempts.first.user_id).profile.firstname%> <%=User.find(@question_attempts.first.user_id).profile.surname%></p>
    <p>Regards</p>
    <p>Edutor</p>
    <!--<div id="content_header">
      <h1 id="main_heading">Assessment Result For <%=User.find(@question_attempts.first.user_id).profile.firstname%> <%=User.find(@question_attempts.first.user_id).profile.surname%> is as follows:</h1>
    </div>-->

    <!--<div id="data">
      <div id='application-list'>
        <table align='center' class='details' width='700px'>
          <tbody>
            <tr class='odd left'>
              <td>Assessment Name</td>
              <td class='right'><%= @quiz.name%></td>
            </tr>
            <tr class='even left'>
              <td>Duration (minutes)</td>
              <%if @quiz.timelimit.to_i > 0%>
              <td class='right'><%= @quiz.timelimit%></td>
              <%else%>
              <td class='right'>120</td>
              <%end%>
            </tr>
            <tr class='even left'>
              <td>Average Marks</td>
              <td class='right'><%= @total_average%></td>
            </tr>
            <tr class='odd left'>
              <td>Total Questions</td>
              <td class='right'><%= @quiz.questions.count%></td>
            </tr>
            <tr class='odd left'>
              <td>Correct Attempts</td>
              <td class='right'><%= @question_attempts.where(:correct=>true).count%></td>
            </tr>
            <tr class='odd left'>
              <td>Wrong Attempts</td>
              <td class='right'><%= @question_attempts.where(:correct=>false).count%></td>
            </tr>
            <tr class='even left'>
              <td>Marks Obtained</td>
              <% sum_marks = @question_attempts.sum(:marks) %>
              <td class='right'><b><%= sum_marks%>/<%=@total_marks%></b></td>
            </tr>
            <tr class='tr-blank'></tr>
          </tbody>
        </table>
      </div>

      <div style="clear:both;"></div>
      <!--<div>
        <h1>Attempt Details</h1>
      </div>
      <div>
        <table width='100%'>
          <tr>
            <td id='publish_list' valign='top'>
              <table cellpadding='1' cellspacing='1'>
                <table align='center' cellpadding='1' cellspacing='1' class='listing sort_table' id='publish_groups' width='100%'>
                  <thead>
                    <tr class='tr-head'>
                      <th>Question</th>
                      <th>Attempt</th>
                      <th>Option selected</th>
                      <th>Correct Answer(s)</th>
                      <th>Marks</th>
                      <th>Time taken (seconds)</th>
      <%if @quiz.format_type == 0 %>
                          <th></th>
      <%end%>
                    </tr>
                  </thead>
                  <tbody>
      <%i=0%>
      <% @question_attempts.each do |t| %>
        <%if @quiz.format_type == 0 %>
          <% if i%2 == 0 %>
                                <tr class="tr-even even">
          <% else %>
                                <tr class="tr-odd odd">
          <% end %>
                              <td class="col"><%= Question.find(t.question_id).questiontext.gsub(/<\/?[^>]*>/, "")%></td>
          <% if t.correct? %>
                                  <td class="col"><img src="/assets/web-app-theme/icons/tick.png" alt="Correct"/></td>
          <%else%>
                                  <td class="col"><img src="/assets/web-app-theme/icons/cross.png" alt="Wrong"/></td>
          <%end%>
          <% attempts = McqQuestionAttempt.where(:quiz_question_attempt_id=>t.id)
          ans = []
          if attempts.size ==1 && attempts.first.question_answer_id ==0
            ans << "Not Attempted"
          else
            attempts.each do |a|
              qans = QuestionAnswer.find(a.question_answer_id).answer_format
              ans << qans
            end
          end
        %>
          <% correct_answers = QuestionAnswer.where(:question=>t.question_id,:fraction=>1)
          c_ans = []
          correct_answers.each do |a|
            c_ans << a.answer_format
          end
        %>
                              <td class="col"><%= ans.join(",").html_safe %></td>
                              <td class="col"><%= c_ans.join(",").html_safe %></td>
                              <td class="col"><%= t.marks%></td>
                              <td class="col"><%= (t.time_taken)%></td>
                              <td>
          <%=link_to "View Question", :controller => "questions", :action => "show",:id=>t.question_id %></td>
                            </tr>
          <%i = i+1%>
        <%  else %>
          <% if i%2 == 0 %>
                                <tr class="tr-even even">
          <% else %>
                                <tr class="tr-odd odd">
          <% end %>
                              <td class="col"><%= Question.find(t.question_id).tag%></td>
          <% if t.correct? %>
                                  <td class="col"><img src="/assets/web-app-theme/icons/tick.png" alt="Correct"/></td>
          <%else%>
                                  <td class="col"><img src="/assets/web-app-theme/icons/cross.png" alt="Wrong"/></td>
          <%end%>
          <% attempts = McqQuestionAttempt.where(:quiz_question_attempt_id=>t.id)
          ans = []
          if attempts.size ==1 && attempts.first.question_answer_id ==0
            ans << "Not Attempted"
          else
            attempts.each do |a|
              qans = QuestionAnswer.find(a.question_answer_id).tag
              ans << qans
            end
          end
        %>
          <% correct_answers = QuestionAnswer.where(:question=>t.question_id,:fraction=>1)
          c_ans = []
          correct_answers.each do |a|
            c_ans << a.tag
          end
        %>
                              <td class="col"><%= ans.join(",").html_safe %></td>
                              <td class="col"><%= c_ans.join(",").html_safe %></td>
                              <td class="col"><%= t.marks%></td>
                              <td class="col"><%= (t.time_taken)%></td>
                            </tr>
          <%i = i+1%>
        <%end%>
      <%end%>
      <% if i%2 == 0 %>
                        <tr class="tr-even even">
      <% else %>
                        <tr class="tr-odd odd">
      <% end %>
                      <td class="col"></td>
                      <td class="col"></td>
                      <td class="col"></td>
                      <td class="col"></td>
                      <td class="col">Total Marks = <%=sum_marks%></td>
                      <td class="col"></td>
      <%if @quiz.format_type == 0 %>
                          <td class="col"></td>
      <%end%>
                    </tr>
                  </tbody>
                </table>
              </table>
            </td>
          </tr>
        </table>
      </div>-->
    <!--</div>-->
  </body>
</html>