= simple_form_for @assessment_category, :html => { :class => :form },:validate=>true do |f|
  .inputs
    .group
      .field
        = f.label :content_id, "Content", :class=>'label'
        = f.collection_select :subject_id,current_user.class_contents,:id,:name_with_content_year,{:prompt=>true},{:class=>'drop_down' }
    .group
      .field
        = f.label :chapter_id, "Chapter", :class=>'label'
        = f.collection_select :chapter_id,Chapter.all,:id,:name,{:prompt=>true},{:class=>'drop_down' }
    .group
      .field
        = f.label :topic_id, "Topic", :class=>'label'
        = f.collection_select :topic_id,Topic.all,:id,:name,{:prompt=>true},{:class=>'drop_down' }
    .group
      .field
        = f.input :name,:input_html=>{:class=>"text_field"},:label_html=>{:class=>"label"}
    .group
      .field
        = f.input :is_locked,:input_html=>{:class=>"text_field"},:label_html=>{:class=>"label"}     
        = f.hidden_field :status,:value=>1
    .group
      .field
        = f.simple_fields_for :asset do |a|
          = render 'asset_fields', :f => a
          = a.hidden_field :publisher_id,:value=>current_user.id
    .group
      .field{:align=>'center'}
        = f.button :submit,:class=>'big primary',:value=>"Upload Assessment"
        = link_to t("web-app-theme.cancel", :default => "Cancel"), assessment_categories_path,:class=>'button danger icon remove'

:javascript
  $("#assessment_category_board_id").change(function() {
      var selected_value = $('select#assessment_category_course_id :selected').val();
      var url = "/course/get_content_years/"
      var div_update = "#assessment_category_content_year_id"
      get_url_Data(url,selected_value,div_update);
  });
  $("#assessment_category_content_year_id").change(function() {
      var selected_value = $('select#assessment_category_content_year_id :selected').val();
      var url = "/content_years/get_subjets/"
      var div_update = "#assessment_category_subject_id"
      get_url_Data(url,selected_value,div_update);
  });
  $("#assessment_category_subject_id").change(function() {
      var selected_value = $('select#assessment_category_subject_id :selected').val();
      var url = "/subjects/get_chapters/"
      var div_update = "#assessment_category_chapter_id"
      get_url_Data(url,selected_value,div_update);
  });

  $("#assessment_category_chapter_id").change(function() {
      var selected_value = $('select#assessment_category_chapter_id :selected').val();
      var url = "/chapters/get_topics/"
      var div_update = "#assessment_category_topic_id"
      get_url_Data(url,selected_value,div_update);
  });
  $("#assessment_categorys_topic_id").change(function() {
      var selected_value = $('select#assessment_category_topic_id :selected').val();
      var url = "/topics/get_subtopics/"
      var div_update = "#assessment_category_sub_topic_id"
      get_url_Data(url,selected_value,div_update);
  });
  $(document).ready(function() {
      $("#test_config").hide();
      var checked = $("#publish:input:checked").length;
      if(checked == 1){
          $("#test_config").show();
      }
      else{
          $("#test_config").hide();
      }
      $("#publish").change(function(){
          if($(this).is(':checked')){
              $("#test_config").show("slow");
          }
          else{
              $("#test_config").hide("slow");
          }
      });
  });
