:javascript
  $(document).ready(function() {
    $("#themes").dataTable({
        "aoColumns": [
                    null,null,
                    { "bSortable": false }
                     ],
        "bAutoWidth": false,"aaSorting": [],// disable default auto sorting ex : [ 4, "desc" ] for 4th column
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bRetrieve": true,
        "bDestroy": true,
        "oLanguage": { "sSearch": "Search Page:" }

    });
  });
#content_header
  %h1#main_heading Themes
#inner-tab-menu
  %ul
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.list", :default => "List")}",themes_path
    %li= link_to "#{t("web-app-theme.new", :default => "New")}",new_theme_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          %table#themes.listing.sort_table{align: 'center' ,width: '100%',cellpadding:1,cellspacing: 1}
            %thead
              %tr.tr-head
                %th= t("activerecord.attributes.theme.name", :default => t("activerecord.labels.name", :default => "Name"))
                %th= t("web-app-theme.created_at", :default => "Created at")
                %th &nbsp
            %tbody
              - @themes.each do |theme|
                %tr{:class => cycle("tr-odd", "tr-even"),:id=>"theme_#{theme.id}"}
                  %td.col= link_to theme.name, theme_path(theme)
                  %td.col= display_date_time(theme.created_at)
                  %td.col
                    = link_to_show(theme_path(theme))
                    &nbsp
                    = link_to_edit(edit_path(theme))
                    &nbsp;
                    = link_to_delete(theme_path(theme))
        .pagination_info
          = paginate @themes unless  @themes.blank?

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", themes_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_theme_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Themes
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.theme.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @themes.each do |theme|
          %tr{:class => cycle("odd", "even")}
            %td
              = theme.id
            %td
              = link_to theme.name, theme_path(theme)
            %td
              = theme.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", theme_path(theme)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_theme_path(theme)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", theme_path(theme), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = paginate @themes
-#- content_for :sidebar, render(:partial => 'shared/sidebar')
