.instructions_form
  = form_for @instruction do |f|
    = f.label :template_name
    %br
    = f.text_field :template_name, required:true
    .intro_contents
      = f.label :content
      %br
      = f.text_area :content, required:true,id:"intro_content"
    %br
    %br
    = f.label :use_this_for_future
    %br
    = f.check_box :is_live
    %br
      %br
    = f.submit "create Template", class: "button",id:"template_creator"
