#content_header
  %h1#main_heading Topics
#inner-tab-menu
  %ul
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.list", :default => "List")}", topics_path
    %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_topic_path
#data
  %table{width: '100%'}
    %tr
      %td
        = render 'topics/topics'