= stylesheet_link_tag "assessment_tool"
%h3
  Create Activities
%p
  = link_to "Name The Image", create_learning_activities_path("name_the_image")
%p
  = link_to "Match The Items", create_learning_activities_path("match_the_item")
%p
  = link_to "Flash Cards", create_learning_activities_path("flash_cards")
%p
  = link_to "Image Gallery", create_learning_activities_path("image_gallery")
%p
  = link_to "Concept Map", create_learning_activities_path("concept_map")


.body_content1
  .assessments_layout
    .spinner-gif{:style => "display: none; position: fixed; z-index: 5; left: 45%; top: 45%"}
    .ui-tabs-panel.ui-corner-bottom
      - @learning_activities.each do |learning_activity|
        %br
        .assessment-section.ui-widget-content
          %span.section-title= learning_activity.name
          %br
          %br
          %table{cellpadding: "0", cellspacing: "0", width: "100%", data_id: "#{learning_activity.id}", data_activity_type: "#{learning_activity.learning_activity_type}" }
            %tr
              %td{style: "width: 50%; border: 0px; padding: 0px;"}
                %table{cellpadding: "0", cellspacing: "0"}
                  %tr
                    %td{style: "border-left: 0px; padding: 2px 8px 0px 0px;"}
                      class:
                      - if (ac=learning_activity.tags.where(name: "academic_class")).present?
                        = ac.first.value
                      %br
                      Subject:
                      - if (su=learning_activity.tags.where(name: "subject")).present?
                        = su.first.value
                      %br
                      Concept:
                      - if (co=learning_activity.tags.where(name: "concept_name")).present?
                        = co.first.value
                      %br
                    %td{style: "border-left: 1px solid #CCC; padding: 2px 8px 2px 8px;"}
                      Description:
                      = learning_activity.description

              %td{style: "border: 0px; padding: 2px 8px 2px 8px; width:100px;"}
                %div#assessment_options{style: "float: right;"}
                  = link_to "Download", download_learning_activities_path(learning_activity), :class=>"button"
                  = link_to "Preview", "#", :class=>"button preview_button"
                  - link_to "Edit", "", :class=>"button edit-btn"
                %div{style: "clear: both;"}
    %br

    .pagination_info
      =# paginate @assessments
      %br
      =# (page_entries_info @assessments).html_safe

:css

  #PreviewActivity iframe{
    z-index: 1020;
    -webkit-box-sizing: initial;
    box-sizing: initial;
  }
  #PreviewActivity{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1010;
    padding-left: 15%;
    padding-top: 5%;
  }
  #Overlay{
    background: #666666 url(/assets/jquery-ui/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
  }
  #ClosePreviewActivity{
    background-image: url(/assets/close.png);
    position: absolute;
    top: 11%;
    right: 1%;
    height: 42px;
    width: 42px;
  }
  #ActivityIframe{
    width: 1400px;
    height: 800px;
  }

:javascript
  var preview_mode = false;
  $(document).ready(
      function() {
      common_ready_function();
      prepare_dialogs_for_analytics();
      $(".classComboBox").prop("selectedIndex", -1);
      //window.addEventListener("resize", redrawCloseActivity);
      window.addEventListener('resize', resizeOverlay);
      window.addEventListener('resize', resizePreview)
      //Addding meta data to header
      $('head').append('<meta name="viewport" content="width=device-width, initial-scale=1.0" />');
      $(".preview_button").click(function(){
        preview_mode = true;
        $('body').append('<div id="Overlay" style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:999;opacity:0.4;filter: alpha(opacity = 50)"></div>'); 
        resizeOverlay();
        $('body').append('<div id="PreviewActivity"><iframe id="ActivityIframe" src="" width="100%" height="200px" marginheight="0" frameborder="0" onLoad="autoResize(\'ActivityIframe\');"></iframe></div>');
        var id = $(this).parents("table").attr("data_id")
        var activity_type = $(this).parents("table").attr("data_activity_type");
        var iframe_location = "/learning_activities/"+id+"/preview";
        $("#PreviewActivity iframe").attr("src", iframe_location);
        $("#PreviewActivity").css("display", "block");
        $("#PreviewActivity").append('<div id="ClosePreviewActivity"></div>');
        $("#ClosePreviewActivity").click(closePreview);

        set(activity_type);
        redrawCloseActivity();
      });

    }
  );
  function autoResize(id){
    var newheight;
    var newwidth;

    if(document.getElementById){
        newheight = document.getElementById(id).contentWindow.document.body.scrollHeight;
        newwidth = document.getElementById(id).contentWindow.document.body.scrollWidth;
    }

    //document.getElementById(id).height = (newheight) + "px";
    //document.getElementById(id).width = (newwidth) + "px";
  }
  function set(activity_type){
    var height, width;
    switch(activity_type){
      case "name_the_image":
        height = 600;
        width = 1024;
        break;
      case "flash_cards":
        height = 625;
        width = 1024;
        break;
      case "match_the_image":
        height = 500;
        width = 1020;
        break;
      case "image_gallery":
        height = 600;
        width = 1024;
        break;
      case "concept_map":
        height = 600;
        width = 1400;
        break;
    }
        //Set PreviewActivity Height and Window
        //var iframe_body = document.getElementById("ActivityIframe").contentWindow.document.body;
        //var iframe_preview_header = iframe_body.getElementsByClassName("preview-row")[0];
        //var iframe_preview = iframe_body.getElementById("preview-container");
        //var iframe_height = iframe_preview_header.getBoundingClientRect().height + iframe_preview.getBoundingClientRect().height;
        //var iframe_width = iframe_preview_header.getBoundingClientRect().width + iframe_preview.getBoundingClientRect().width;
        $("#ActivityIframe").css("height", height);
        $("#ActivityIframe").css("width", width);    
  }
  function redrawCloseActivity(){
    var iframe_data = document.getElementById("ActivityIframe").getBoundingClientRect();
    $("#ClosePreviewActivity").css("left", iframe_data.left + iframe_data.width -10);
    $("#ClosePreviewActivity").css("top", iframe_data.top-10);
  }
  function closePreview(){
    $("#PreviewActivity").remove();
    $("#Overlay").remove();
    preview_mode = false;
  }
  function resizeOverlay(){
    if ($("#Overlay")[0] == undefined)
      return false;
    var page_height = $(document).height();
    $("#Overlay").css("height", page_height);
    return true;
  }
  function resizePreview(){
    if(preview_mode == false)
      return false;
    redrawCloseActivity();
  }
