#content_header
  %h1#main_heading Class Rooms
#inner-tab-menu
  %ul
    %li=link_to  "#{t("web-app-theme.list", :default => "List")}", class_rooms_path
    %li.inner_tab_selected=link_to link_to "#{t("web-app-theme.new", :default => "New")}", new_class_room_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          #application-list
            = render "form"

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", class_rooms_path
      %li.active= link_to "#{t("web-app-theme.new", :default => "New")}", new_class_room_path
  .content
    %h2.title
      = t("web-app-theme.new", :default => "New")
      Class Room
    .inner
      = render "form"
-#- content_for :sidebar, render(:partial => 'shared/sidebar')
