.content_div
  .icon_box
    = image_tag 'student_overview.png'
  .result_box
    %table.index_table
      -if current_user.is?("IA")
        %thead
          %tr
            %th Academic Courses
            %th Section
            %th No. of Students
        %tbody
          -@cents.each do |cent|
            -cent.academic_classes.each do |ac|
              - n = 1
              -ac.sections.each do |sec|
                %tr
                  - if n == 1
                    %td= link_to ac.name, academic_class_path(ac)
                    - n = 2
                  -else
                    %td
                  %td= link_to sec.name, section_path(sec)
                  %td= sec.students.count
      -elsif current_user.is?("CR")
        %thead
          %tr
            %th Academic Course
            %th Section
            %th No. of Students
        %tbody
          -@cent.academic_classes.each do |cla|
          - n = 1
            -cla.sections.each do |sec|
              %tr
                - if n == 1
                  %td= link_to cla.name, academic_class_path(cla)
                  - n = 2
                -else
                  %td
                %td= sec.name
                %td= sec.students.count
      -elsif current_user.is?("ET")
        %thead
          %tr
            %th Student
            %th Login Count
            %th Last Login At
        %tbody
          -@sec.students.each do |stu|
            %tr
              %td= stu.name
              %td= stu.sign_in_count
              %td= Time.at(stu.last_sign_in_at).asctime rescue ''
      -elsif current_user.is?("ES")
        %thead
          %tr
            %th Login Count
            %th Last Login At
            
        %tbody
          %tr
            %td{:style => "text-align:center;padding-top:40px;font-size:16px;"}
              = current_user.sign_in_count
            %td{:style => "text-align:center;padding-top:40px;font-size:16px;"}
              = Time.at(current_user.last_sign_in_at).asctime
            



