= stylesheet_link_tag 'sign_in'
.container
  %p
    %b
      Forgot your password?
  %hr
  = simple_form_for(:support_request, :url => forgot_password_path, :html => { :autocomplete=>"off"}) do |f|
    Please provide information below, we will send a message explaining how to reset your password.
    .inputs_new
      .field_div
        %label.label_div
          Your Name
        .input_new
          = f.text_field :name, :size => 50
      .field_div
        %label.label_div
          Email Id
        .input_new
          = f.text_field :email, :size => 50
      .field_div
        %label.label_div
          Center
        .input_new
          = f.text_field :center,:size => 50
      .field_div
        %label.label_div
          Institute
        .input_new
          = f.text_field :institute,:size => 50
      .field_div
        %label.label_div
          Role
        .input_new
          = f.text_field :role, :size => 50
      .field_div
        %label.label_div
          Phone No
        .input_new
          = f.phone_field :phone, :size => 50
      %br
      .form-group
        = recaptcha_tags :ajax=>true
        .flash
          =render 'shared/flash_messages'
      %br
    .submit_div
      %button.btn{:type => "submit",'data-disable-with'=>"authenticating.."}
        .login_div
          Submit

