#content_header
  %h1#main_heading Center Admin
#inner-tab-menu
  %ul
    %li= link_to  "#{t("web-app-theme.list", :default => "List")}", center_admins_path
    %li= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_center_admin_path
    %li= link_to link_to "#{t("web-app-theme.new", :default => "New")}",new_center_admin_path
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.show", :default => "Show")}", center_admin_path(@center_admin)
#data
  #application-list
    %table.details{width: '700px',align: 'center'}
      %tbody
        %tr.odd.left
          %td= t("activerecord.attributes.center.name", :default => t("activerecord.labels.name", :default => "Name"))
          %td.right= @center_admin.name
        %tr.odd.left
          %td= t("activerecord.attributes.center.email", :default => t("activerecord.labels.email", :default => "Email"))
          %td.right= @center_admin.email
        %tr.even.left
          %td= t("activerecord.attributes.center.address", :default => t("activerecord.labels.address", :default => "Address"))
          %td.right= @center_admin.profile.address
        %tr.odd.left
          %td= t("activerecord.attributes.center.phone", :default => t("activerecord.labels.phone", :default => "Phone"))
          %td.right= @center_admin.profile.phone
        %tr.even.left
          %td= t("activerecord.attributes.center.institution_id", :default => t("activerecord.labels.institution_id", :default => "Institution"))
          %td.right= @center_admin.institution.name
        %tr.tr-blank
        %tr
          %td{:colspan=>'2'}
            = link_to 'Edit',edit_center_admin_path(@center_admin), :class => "button icon edit"
            = link_to 'Delete',center_admin_path(@center_admin), :method => "delete",:class => "button danger icon remove", :confirm => "Are you sure?"
