:javascript
  $(document).ready(function() {
    $("#powerchips").dataTable({
        "aoColumns": [
                    null,null,null,null,null,
                    { "bSortable": false }
                     ],
        "bAutoWidth": false,"aaSorting": [],// disable default auto sorting ex : [ 4, "desc" ] for 4th column
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bRetrieve": true,
        "bDestroy": true,
        "oLanguage": { "sSearch": "Search Page:" }

    });
  });
#content_header
  %h1#main_heading MasterChip List
#inner-tab-menu
  %ul
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.list", :default => "List")}", powerchips_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          %table#powerchips.listing.sort_table{align: 'center' ,width: '100%',cellpadding:1,cellspacing: 1}
            %thead
              %tr.tr-head
                %th Masterchip
                %th Csd
                %th Cid
                %th Name
                %th Serial
                %th &nbsp
            %tbody
              -#%tr.tr-blank
              - @powerchips.each do |powerchip|
                %tr{:class => cycle("tr-odd", "tr-even"),:id=>"powerchip_#{powerchip.id}"}
                  %td.col= powerchip.masterchip_id
                  %td.col= powerchip.csd
                  %td.col= powerchip.cid
                  %td.col= powerchip.name
                  %td.col= powerchip.serial
                  %td.col= link_to 'Show', powerchip

             
        - unless @powerchips.blank?
          .pagination_info
            = paginate @powerchips

