:javascript
  $(document).ready(function() {
    $("#masterchips").dataTable({
        "aoColumns": [
                    null,null,null,null,null,null,null,
                    { "bSortable": false }
                     ],
        "bAutoWidth": false,"aaSorting": [],// disable default auto sorting ex : [ 4, "desc" ] for 4th column
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bRetrieve": true,
        "bDestroy": true,
        "oLanguage": { "sSearch": "Search Page:" }

    });
  });
#content_header
  %h1#main_heading MasterChip List
#inner-tab-menu
  %ul
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.list", :default => "List")}", masterchip_list_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          %table#masterchips.listing.sort_table{align: 'center' ,width: '100%',cellpadding:1,cellspacing: 1}
            %thead
              %tr.tr-head
                %th= t("activerecord.attributes.masterchip.name", :default => t("activerecord.labels.name", :default => "Name"))
                %th= t("activerecord.attributes.masterchip.author", :default => t("activerecord.labels.code", :default => "Serial"))
                %th= t("web-app-theme.created_at", :default => "Type")
                %th= t("web-app-theme.created_at", :default => "Details Name")
                %th= t("web-app-theme.created_at", :default => "Version")
                %th= t("web-app-theme.created_at", :default => "date")
                %th= t("web-app-theme.created_at", :default => "Created at")
                %th &nbsp
            %tbody
              -#%tr.tr-blank
              - @masterchips.each do |masterchip|
                %tr{:class => cycle("tr-odd", "tr-even"),:id=>"masterchip_#{masterchip.id}"}
                  %td.col= link_to masterchip.name
                  %td.col= link_to masterchip.serial
                  %td.col=  masterchip.chip_type
                  %td.col=  masterchip.masterchip_details.name if masterchip.masterchip_details
                  %td.col=  masterchip.masterchip_details.version if masterchip.masterchip_details
                  %td.col=  masterchip.date
                  %td.col= display_date_time(masterchip.created_at)
                  %td.col
                    = link_to_show(show_masterchip_path(masterchip))
                    = link_to "Add details",masterchip_details_path(masterchip)  if masterchip.masterchip_details.nil?
                    = link_to 'Replicate',replicate_chip_path(masterchip)   if !masterchip.chip_fs_info.is_replicate
                    = link_to "Delete",masterchip_delete_path(masterchip) if current_user.is?'EA'

        - unless @masterchips.blank?
          .pagination_info
            = paginate @masterchips
