:javascript
  $(document).ready(function() {
    $("#sub_topics").dataTable({
        "aoColumns": [
                    null,null,null,null,null,null,null,
                    { "bSortable": false }
                     ],
        "bAutoWidth": false,"aaSorting": [],// disable default auto sorting ex : [ 4, "desc" ] for 4th column
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bRetrieve": true,
        "bDestroy": true,
        "oLanguage": { "sSearch": "Search Page:" }

    });
  });

%div
  %table#sub_topics.listing.sort_table{align: 'center' ,width: '100%',cellpadding:1,cellspacing: 1}
    %thead
      %tr.tr-head
        %th= t("activerecord.attributes.sub_topic.name", :default => t("activerecord.labels.name", :default => "Publisher"))
        %th= t("activerecord.attributes.sub_topic.code", :default => t("activerecord.labels.code", :default => "Name"))
        %th= t("activerecord.attributes.sub_topic.code", :default => t("activerecord.labels.code", :default => "Board"))
        %th= t("activerecord.attributes.sub_topic.code", :default => t("activerecord.labels.code", :default => "Content Year"))
        %th= t("activerecord.attributes.sub_topic.code", :default => t("activerecord.labels.code", :default => "Subject"))
        %th= t("activerecord.attributes.sub_topic.code", :default => t("activerecord.labels.code", :default => "Chapter"))
        %th= t("activerecord.attributes.sub_topic.code", :default => t("activerecord.labels.code", :default => "Topic"))
        -#%th= t("web-app-theme.created_at", :default => "Created at")
        %th &nbsp
    %tbody
      -#%tr.tr-blank
      - @sub_topics.each do |sub_topic|
        %tr{:class => cycle("tr-odd", "tr-even"),:id=>"sub_topic_#{sub_topic.id}"}
          %td.col= sub_topic.publisher.fullname if sub_topic.publisher
          %td.col= link_to sub_topic.name, sub_topic_path(sub_topic)
          %td.col= link_to(sub_topic.board.name,board_path(sub_topic.board)) if sub_topic.board
          %td.col= link_to(sub_topic.content_year.name ,content_year_path(sub_topic.content_year))if sub_topic.content_year
          %td.col= link_to(sub_topic.subject.name,subject_path(sub_topic.subject))  if sub_topic.subject
          %td.col= link_to(sub_topic.chapter.name, chapter_path(sub_topic.chapter))  if sub_topic.chapter
          %td.col= link_to(sub_topic.topic.name, topic_path(sub_topic.topic))  if sub_topic.topic
          -#%td.col= display_date_time(sub_topic.created_at)
          %td.col
            = link_to_show(sub_topic_path(sub_topic))
.pagination_info= paginate @sub_topics unless @sub_topics.blank?