#content_header
  %h1#main_heading Subjects
#inner-tab-menu
  %ul
    %li=link_to  "#{t("web-app-theme.list", :default => "List")}",subjects_path
    %li.inner_tab_selected= link_to "#{t("web-app-theme.edit", :default => "Edit")}",edit_subject_path
    %li=link_to link_to "#{t("web-app-theme.new", :default => "New")}", new_subject_path
    %li=  link_to "#{t("web-app-theme.show", :default => "Show")}",subject_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          #application-list
            = render "form"


-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", subjects_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_subject_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_subject_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      Subject
    .inner
      = render "form"
-# content_for :sidebar, render(:partial => 'shared/sidebar')
