= simple_form_for @chapter, :html => { :class => :form },:validate=>true do |f|
  = f.error_messages :header_message => "Invalid Chapter!",
                      :message => "You'll need to fix the following fields:"
  .inputs
    - unless current_user.is?("ET")
      .group
        .field
          = f.association :board,:collection=>(current_user.role_id == 8 ? current_user.boards : Board.all),:input_html=>{:class=>"drop_down"},:label_html=>{:class=>"label"},:prompt=>true
          -#= f.label :board_id, "Board", :class=>'label'
          -#= f.collection_select :board_id, current_user.role_id == 8 ? current_user.boards : Board.all ,:id,:name,{:prompt => true},{:class=>"drop_down"}
      .group
        .field
          = f.association :content_year,:input_html=>{:class=>"drop_down"},:label_html=>{:class=>"label"},:prompt=>true
      .group
        .field
          = f.association :subject,:input_html=>{:class=>"drop_down"},:label_html=>{:class=>"label"},:prompt=>true
    - else
      .group
        .field
          = f.input :subject_id, :label_html=>{:class=>"label"} do
            = f.collection_select :subject_id,current_user.class_contents,:id,:name_with_content_year,{:prompt=>true},{:class=>'drop_down' }
    .group
      .field
        = f.input :name,:input_html=>{:class=>"text_field"},:label_html=>{:class=>"label"}

    .group
      .field
        = f.input :play_order,:input_html=>{:class=>"text_field",:value=>0},:label_html=>{:class=>"label"},:label=>"Play Order"
    .group
      .field
        = f.input :is_profile,:input_html=>{:class=>"text_field"},:label_html=>{:class=>"label"},:label=>"Store Front"
    .group
      .field#content_profile
        =f.simple_fields_for :content_profile do |a|
          = a.input :price,:input_html=>{:class=>"text_field"},:label_html=>{:class=>"label"}
    .group
      .field
        = f.input :status, :as => :hidden, :input_html => { :value => 1 }
    .group
      .field    
        = f.simple_fields_for :assets do |a|
          = render 'asset_fields', :f => a
          = a.hidden_field :publisher_id,:value=>current_user.id
    .add_more{:style=>'margin-left:30%',:align=>'center'}
      = link_to_add_association '+Add attachment', f, :assets
        
  .group
    .field{:align=>'center'}
      = f.button :submit,:class=>'big primary' ,:disable_with=>disable_with_text(f)
      = link_to t("web-app-theme.cancel", :default => "Cancel"), current_user.is?("ET") ? teacher_contents_path : chapters_path,:class=>'button danger icon remove'
    
:javascript
  $("chapter_content_year_id").attr('disabled', 'disabled');
  $("#chapter_board_id").change(function() {
      var selected_value = $('select#chapter_board_id :selected').val();
      var url = "/course/get_content_years/"
      var div_update = "#chapter_content_year_id"
      get_url_Data(url,selected_value,div_update);
  });

  $("#chapter_content_year_id").change(function() {
      var selected_value = $('select#chapter_content_year_id :selected').val();
      var url = "/content_years/get_subjets/"
      var div_update = "#chapter_subject_id"
      get_url_Data(url,selected_value,div_update);
  });

  $(document).ready(function() {

      var checked = $("#chapter_is_profile:input:checked").length;
      if(checked == 1){
          $("#content_profile").show();
      }
      else{
          $("#content_profile").hide();
      }
      $("#chapter_is_profile").change(function(){
          if($(this).is(':checked')){
              $("#content_profile").show("slow");
          }
          else{
              $("#content_profile").hide("slow");
          }
      });
  });
