#content_header
  %h1#main_heading Chapters
#inner-tab-menu
  %ul
    %li= link_to  "#{t("web-app-theme.list", :default => "List")}", current_user.is?("ET") ? teacher_contents_path : chapters_path
    %li= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_chapter_path
    %li= link_to link_to "#{t("web-app-theme.new", :default => "New")}",new_chapter_path
    %li.inner_tab_selected=  link_to "#{t("web-app-theme.show", :default => "Show")}", chapter_path(@chapter)
#data
  #application-list
    %table.details{width: '700px',align: 'center'}
      %tbody
        %tr.even.left
          %td= t("activerecord.attributes.chapter.name", :default => t("activerecord.labels.name", :default => "Name"))
          %td.right= @chapter.name
        %tr.odd.left
          %td Board
          %td.right=link_to(@chapter.board.name,board_path(@chapter.board)) if @chapter.board
        %tr.even.left
          %td Content Year
          %td.right= link_to(@chapter.content_year.name,content_year_path(@chapter.content_year)) if @chapter.content_year
        %tr.odd.left
          %td Subject
          %td.right= link_to(@chapter.subject.name,subject_path(@chapter.subject)) if @chapter.subject
        %tr.even.left
          %td=t("web-app-theme.created_at", :default => "Created at")
          %td.right= display_date_time(@chapter.created_at)

        %tr.tr-blank
        %tr
          %td{:colspan=>'2'}
            = link_to "Edit",edit_chapter_path(@chapter), :class => "button icon delete"
            = link_to "Delete", chapter_path(@chapter), :method => "delete", :class => "button danger icon remove", :confirm => "Are you sure?"
    .heading.hr
      Topics
      .right
        = link_to "Add Topic" ,new_topic_path(board_id: @chapter.board.try(:id),
                 content_year_id: @chapter.content_year.try(:id),subject_id: @chapter.subject.try(:id),
                 chapter_id: @chapter.id),
                :class=>'button icon add'
    = render 'topics/topics'