:css
  #assessment_in_topic_quiz_configuration{
    margin-top:20px;

  }
:javascript
  $(document).ready(function() {
    $("#assessment_in_topic_quiz_list").dataTable({
        "aoColumns": [
                    null,null,null, null,null,null,null,null,
                    { "bSortable": false }
                     ],
        "bAutoWidth": false,"aaSorting": [],// disable default auto sorting ex : [ 4, "desc" ] for 4th column
        "bPaginate": false,
        "bFilter": true,
        "bInfo": false,
        "bRetrieve": true,
        "bDestroy": true,
        "oLanguage": { "sSearch": "Search Page:" }

    });
  });

#content_header
  %h1#main_heading assessment_in_topic_quiz
#inner-tab-menu
  %ul
    %li.inner_tab_selected=link_to  "#{t("web-app-theme.list", :default => "List")}", assessment_in_topic_quizzes_path
    %li=link_to link_to "#{t("web-app-theme.new", :default => "New")}", new_assessment_in_topic_quiz_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          %table#assessment_in_topic_quiz_list.listing.sort_table{align: 'center' ,width: '100%',cellpadding:1,cellspacing: 1}
            %thead
              %tr.tr-head
                -#%th Id
                %th Publisher
                %th Board
                %th Content Year
                %th Subject
                %th Chapter
                %th Topic
                %th Name
                %th Created At
                %th &nbsp

            %tbody
              -#%tr.tr-blank
              - @assessment_in_topic_quizzes.each do |assessment_in_topic_quiz|
                %tr{:class => cycle("tr-odd", "tr-even"),:id=>"assessment_in_topic_quiz_#{assessment_in_topic_quiz.id}"}
                  -#%td.col=  assessment_in_topic_quiz.rb.id
                  %td.col
                    = assessment_in_topic_quiz.asset.user.name if assessment_in_topic_quiz.asset
                  %td.col
                    = assessment_in_topic_quiz.board.name if assessment_in_topic_quiz.board
                  %td.col
                    = assessment_in_topic_quiz.content_year.name if assessment_in_topic_quiz.content_year
                  %td.col
                    = assessment_in_topic_quiz.subject.name  if assessment_in_topic_quiz.subject
                  %td.col
                    = link_to assessment_in_topic_quiz.chapter.name, chapter_path(assessment_in_topic_quiz.chapter)  if assessment_in_topic_quiz.chapter
                  %td.col
                    = link_to assessment_in_topic_quiz.topic.name, topic_path(assessment_in_topic_quiz.topic)  if assessment_in_topic_quiz.topic
                  %td.col
                    = assessment_in_topic_quiz.name
                  %td.col
                    = display_date_time(assessment_in_topic_quiz.created_at)
                  %td.col
                    = link_to_show(assessment_in_topic_quiz_path(assessment_in_topic_quiz))
                    &nbsp
                    = link_to_edit(edit_assessment_in_topic_quiz_path(assessment_in_topic_quiz))
                    &nbsp;
                    = link_to_delete(assessment_in_topic_quiz_path(assessment_in_topic_quiz))

        - unless @assessment_in_topic_quiz.blank?
          .pagination_info
            = paginate @assessment_in_topic_quizzes
        #assessment_in_topic_quiz_configuration
