#content_header
  %h1#main_heading assessment_in_topic_quizzes

#inner-tab-menu
  %ul
    %li= link_to "#{t("web-app-theme.list", :default => "List")}", assessment_in_topic_quizzes_path
    %li.inner_tab_selected= link_to "#{t("web-app-theme.new", :default => "New")}", new_assessment_in_topic_quiz_path
#data
  %table{width: '100%'}
    %tr
      %td
        %div
          #application-list
            = render "form"

-#.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", assessment_in_topic_quizs_path
      %li.active= link_to "#{t("web-app-theme.new", :default => "New")}", new_assessment_in_topic_quiz_path
  .content
    %h2.title
      = t("web-app-theme.new", :default => "New")
      assessment_in_topic_quizs
    .inner
      = render "form"
-#- content_for :sidebar, render(:partial => 'shared/sidebar')
