%h1 Listing tips

%table
  %tr
    %th
    %th
    %th
    %th
  - @tips.each do |tip|
    %tr
      %td= tip.name
      %td= tip.user_id
      %td= link_to 'Edit', edit_tip_path(tip)
      %td= link_to 'Destroy', tip, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tip', new_tip_path
