<!DOCTYPE HTML>
%html
  %head
    %title= 'Ignitor'
    = favicon_link_tag '/assets/favicon1.ico'
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application','jquery.dataTables','jquery.tipTip.minified'
    -#%script{:src => "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML", :type => "text/javascript"}
  %body
    #container
      #header_bg
        #header
          #head_contentLeft
            .logo_icons
              -  if !current_user.institution_id.nil? and current_user.institution_id == 25607
                = link_to (image_tag "pearson_logo.png"), root_path
              - else
                = link_to (image_tag "ignitor_logo.png"), root_path
            #nav_icons
              = render 'shared/pearson_top_menu_new'
          #head_contentRight
            .profile_block
              = image_tag "user.png"
              %label
                = current_user.name
              %button.profile_view
            .profile_content
              %label.profile_edit
                = link_to "My profile", profile_path(current_user.profile)
              %label.profile_edit
                = link_to "Change password",change_password_path
              %label.profile_edit
                = link_to  "Logout", destroy_user_session_path, :method => :delete
            #user_inbox
              %button.inbox_button
                = link_to (image_tag "message_icon.png"), messages_path+user_path(current_user)
            = render 'shared/search_new'
          #head_user_info
            = display_details
      -#.page_bg_image
      .body_content
        .flash
          = render 'shared/flash_messages'
        .yield_gap
        = yield



      #footer
        %p
          Copyright &copy; #{Time.now.year}
          %a{:href => "http://www.edutor.co.in", :target => "_blank" ,:style=>'color:#636363;'} Edutor Technologies.



:javascript
    $("#content_header").after("<br>");
    //if ($(window).width()<1230){
    //  // UI restructure for smaller screens
    //  $(".nav_icon_block").css({"width":"55","word-wrap":"break-word"})
    //  $(".nav_text").css({padding:0})
    //  $("#header").css({"box-shadow":"0px 2px 0px 0px #0090D4"})
    //  $("#header_bg").css({"box-shadow":"none"})
    //}

    $(".nav_icon_block").hover(function () {
          $(this).css("background-color", "#E5F4FB");
          //$(this).css("border-bottom", "3px inset #0090d4");
          $(this).children(".nav_menuarrow").css("visibility", "visible");
          $(this).find(".dropmenu").show();
    },
    function () {
          $(this).css("background-color", "white");
          $(this).css("border-bottom", "0");
          $(this).children(".nav_menuarrow").css("visibility", "hidden");
          $(this).find(".dropmenu").hide();
    }
    );
    $(".top-menu-bar").bind('mouseleave',function(){
            $(".show").hide();
            $(this).toggle();
    });
    $(".profile_block").bind('click',function() {
            $(".profile_content").toggle()
          });
    $(".profile_content").bind('mouseleave',function() {
                  $(".profile_content").css("display", "none")
                });
    attachSearchEvents();
    $(".search_input").val("").focus();

